<div class="banner mb-5">
  <h1>Best movies</h1>
</div>
<div class="movie-category">
  <h1 class="category-title">MY LISTS :</h1>
</div>
<div class="container">
<div class="lists">
  <% @lists.each do |list| %>
  <h3 class="list-title"><%= link_to list.name, list_path(list) %></h3>
  <% end %>

  <p class="btn-more-info"><%= link_to "Add a new list", new_list_path(@bookmark) %></p>
<span class="click">
</span>

</div>
